/**
 * Images
 */
$image-url: "/app/themes/theme-juice/assets/images";

/**
 * Font stacks
 */
$fonts: (
  "open sans": ("open-sans", "Helvetica Neue", "helvetica", "arial", sans-serif),
  "georgia": ("Georgia", "Times", "Times New Roman", serif)
);

/**
 * Colors
 */
$colors: (
  "white": (
    "base": #fff,
  ),
  "black": (
    "base": #000,
  ),
);

/**
 * Z-index
 */
$z-index: (
  "goku": 9001
);