/**
 * Images
 */
$image-url: "/app/themes/theme-juice/assets/images";

/**
 * Font stacks
 */
$fonts: (
  "open-sans": (
    "open-sans",
    "Open Sans",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif,
  ),
  "georgia": (
    "Georgia",
    "Times New Roman",
    "Times",
    serif,
  ),
);

/**
 * Colors
 */
$colors: (
  "white": (
    "base": #fff,
  ),
  "black": (
    "base": #000,
  ),
  "gray": (
    "base": #999,
  ),
);

/**
 * Z-index
 */
$z-index: (
  "goku": 9001,
);
