- tj_include_partial("partials/header")

.content__wrapper
  .content.content--error

    %h4 These aren't the droids you're looking for.

  // content

  - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/footer")
