- tj_include_partial("partials/header")

%main.main__wrapper
  .main.main--error
    .content
      %h4 These aren't the droids you're looking for.

    - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/footer")
