- /* Template Name: Blog */

- tj_include_partial("partials/header")

%main.blog__wrapper
  .blog
    .content
      %h1= tj_title()

      - $query_var = tj_query_var()
      - $posts = new WP_Query(array("post_type" => "post",
          "paged" => $query_var,
          "showposts" => 5))

      - if ( $posts->have_posts() )
        - tj_include_partial("partials/posts",
            array("posts" => $posts))
      - else
        - tj_include_partial("partials/error",
            array("message" => "There don't seem to be any blog posts at this time"))

    - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/pagination",
    array("posts" => $posts, "query_var" => $query_var))

- wp_reset_query()

- tj_include_partial("partials/footer")
