- tj_include_partial("partials/header")

%section.main__wrapper
  %main.main.main--categories
    %h1= tj_title()

    - $query_cat = get_queried_object()
    - $query_var = tj_query_var()
    - $posts = new WP_Query(array("post_type" => "post",
        "category_name" => $query_cat->slug,
        "paged" => $query_var,
        "showposts" => 5))

    - tj_include_partial("partials/posts", array("posts" => &$posts))
    - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/pagination", array("posts" => &$posts,
    "query_var" => &$query_var))

- wp_reset_query()

- tj_include_partial("partials/footer")
