- /* Template Name: Home */

- tj_include_partial("partials/header")

.content__wrapper

  .content
    %h1 We have lift off!
    %p= tj_lipsum()
  // content

  - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/footer")
