- /* Template Name: Home */

- include "partials/header.php"

.content__wrapper

  .content
    %h1 We have lift off!
    %p= tj_lipsum()
  // content

  - include "partials/sidebar.php"

- include "partials/footer.php"
