-/* Template Name: Page */

- tj_include_partial("partials/header")

%section.main__wrapper
  %main.main
    .content
      - if ( have_posts() )
        - the_post()

        - if ( has_post_thumbnail() )
          %img(src="#{tj_featured_image()}" alt="#{tj_title()}")

        %h1
          %a(href="#{the_permalink()}")= tj_title()

        = the_content()

    - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/footer")
