- tj_include_partial("partials/header")

.content__wrapper
  .content
    - if ( have_posts() )
      - the_post()

      %h1= the_title()
      %p= the_time("F j, Y")
      - the_content()
    - else
      %h4 Sorry, the page could not be displayed.

  // content

  - tj_include_partial("partials/sidebar")

- tj_include_partial("partials/footer")
