- tj_include_partial("partials/header")

%section.main__wrapper
  %main.main.main--single
    .content
      - if ( have_posts() )
        - the_post()

        %h1
          %a(href="#{the_permalink()}")= the_title()

        %aside.meta
          %span.meta__date= the_time("F j, Y")

        = the_content()

    - tj_include_partial("partials/sidebar")

// content

- tj_include_partial("partials/footer")
